In [1]:
import pandas as pd



# Create a simple sample dataset
df = pd.DataFrame({'Company': ['TechCorp', 'Speedster Inc'], 
                   'Employees': [['Alice', 'Bob', 'Charlie'], ['David', 'Emma']]})

# Use the explode function to convert the "Employees" column into multiple rows
df_explode = df.explode('Employees')

# Display the transformed DataFrame
print(df_explode)

         Company Employees
0       TechCorp     Alice
0       TechCorp       Bob
0       TechCorp   Charlie
1  Speedster Inc     David
1  Speedster Inc      Emma

In [3]:
## opposite of explode is implode but can be done by groupby and aggregate func
df_impolde = df_explode.groupby('Company', as_index=False).agg(lambda x: x.to_list())
print(df_impolde)

         Company              Employees
0  Speedster Inc          [David, Emma]
1       TechCorp  [Alice, Bob, Charlie]

In [4]:
# melt function : wide format data to long format
# Create sample data
data = {'company': ['CompanyA', 'CompanyB'], 
        'branch_office_1': ['New York', 'Los Angeles'], 
        'branch_office_2': ['San Francisco', 'Chicago'], 
        'branch_office_3': ['Seattle', 'Houston']}
df = pd.DataFrame(data)

# Use the melt function to reshape the DataFrame
df_melt = df.melt(id_vars='company', 
                  value_vars=['branch_office_1', 'branch_office_2', 'branch_office_3'], 
                  var_name='Branch Office Type', 
                  value_name='Branch Office Name')

# Display the reshaped DataFrame
print(df_melt)

    company Branch Office Type Branch Office Name
0  CompanyA    branch_office_1           New York
1  CompanyB    branch_office_1        Los Angeles
2  CompanyA    branch_office_2      San Francisco
3  CompanyB    branch_office_2            Chicago
4  CompanyA    branch_office_3            Seattle
5  CompanyB    branch_office_3            Houston

In [5]:
## pivot_table function
# Create sample data
data = {'customer_name': ['Alice', 'Bob', 'Alice', 'Bob'], 
        'product': ['laptop', 'phone', 'tablet', 'watch'], 
        'quantity': [2, 1, 3, 4]}
df = pd.DataFrame(data)

# Use the pivot_table function to create a pivot table
df_pivot_table = df.pivot_table(index='customer_name', 
                                columns='product', 
                                values='quantity', 
                                aggfunc='sum')

# Display the pivot table
print(df_pivot_table)

product        laptop  phone  tablet  watch
customer_name
Alice             2.0    NaN     3.0    NaN
Bob               NaN    1.0     NaN    4.0

In [7]:
#stack() function
# Use the stack function to reshape the pivot table ( reshapes a df by moving the innermost column labels to become the innermost row labels)
df_stack = df_pivot_table.stack()

# Display the reshaped DataFrame
print(df_stack)

# Use the unstack function to reshape the stacked table
df_unstack = df_stack.unstack()

# Display the DataFrame
print(df_unstack)

customer_name  product
Alice          laptop     2.0
               tablet     3.0
Bob            phone      1.0
               watch      4.0
dtype: float64
product        laptop  phone  tablet  watch
customer_name
Alice             2.0    NaN     3.0    NaN
Bob               NaN    1.0     NaN    4.0

In [9]:
# crosstab() function

# The crosstab function is used to compute a simple cross-tabulation (frequency table) of two or more factors. It is a special case of pivot_table.
# import pandas as pd
from tabulate import tabulate

# Sample data
data = {
    "Gender": ["Male", "Female", "Female", "Male", "Female", "Male", "Female"],
    "Nationality": ["USA", "UK", "UK", "USA", "UK", "USA", "USA"],
    "Age Group": ["20-29", "20-29", "30-39", "30-39", "20-29", "30-39", "30-39"]
}

# Create a DataFrame
df = pd.DataFrame(data)
print(df)

# Generate a cross-tabulation table using crosstab
crosstab_result = pd.crosstab([df["Gender"], df["Age Group"]], df["Nationality"], margins=True)

# Display the result using tabulate
print(tabulate(crosstab_result, headers="keys", tablefmt="grid"))

   Gender Nationality Age Group
0    Male         USA     20-29
1  Female          UK     20-29
2  Female          UK     30-39
3    Male         USA     30-39
4  Female          UK     20-29
5    Male         USA     30-39
6  Female         USA     30-39
+---------------------+------+-------+-------+
|                     |   UK |   USA |   All |
+=====================+======+=======+=======+
| ('Female', '20-29') |    2 |     0 |     2 |
+---------------------+------+-------+-------+
| ('Female', '30-39') |    1 |     1 |     2 |
+---------------------+------+-------+-------+
| ('Male', '20-29')   |    0 |     1 |     1 |
+---------------------+------+-------+-------+
| ('Male', '30-39')   |    0 |     2 |     2 |
+---------------------+------+-------+-------+
| ('All', '')         |    3 |     4 |     7 |
+---------------------+------+-------+-------+

In [10]:
# map() function

# Apply a function to each element of the DataFrame, mainly used for element-wise function application.


# Create sample data
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
        'group': ['group_a', 'group_a', 'group_b', 'group_b', 'group_a', 'group_b'],
        'salary': [50000, 60000, 70000, 80000, 55000, 75000]}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Calculate a 5% salary increase using the map function
df['new_salary'] = df['salary'].map(lambda x: x * 1.05)

# Display the updated DataFrame
print("\nDataFrame with Salary Increase:")
print(df)

Original DataFrame:
      name    group  salary
0    Alice  group_a   50000
1      Bob  group_a   60000
2  Charlie  group_b   70000
3    David  group_b   80000
4      Eve  group_a   55000
5    Frank  group_b   75000

DataFrame with Salary Increase:
      name    group  salary  new_salary
0    Alice  group_a   50000     52500.0
1      Bob  group_a   60000     63000.0
2  Charlie  group_b   70000     73500.0
3    David  group_b   80000     84000.0
4      Eve  group_a   55000     57750.0
5    Frank  group_b   75000     78750.0

In [11]:
# apply() function

# Apply a function to the data in a DataFrame, either along rows or columns.
from tabulate import tabulate

# Sample data for the DataFrame
data = {
    "Name": ["Harris", "George", "Charlie", "David"],
    "Math Score": [85, 92, 88, 70],
    "English Score": [78, 95, 82, 65],
    "Science Score": [90, 88, 85, 72]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Define a function to calculate the average score for each row
def calculate_average(row):
    return (row["Math Score"] + row["English Score"] + row["Science Score"]) / 3

# Apply the function to each row in the DataFrame and create a new column
df["Average Score"] = df.apply(calculate_average, axis=1)

# Display the DataFrame using tabulate
print(tabulate(df, headers="keys", tablefmt="grid"))

+----+---------+--------------+-----------------+-----------------+-----------------+
|    | Name    |   Math Score |   English Score |   Science Score |   Average Score |
+====+=========+==============+=================+=================+=================+
|  0 | Harris  |           85 |              78 |              90 |         84.3333 |
+----+---------+--------------+-----------------+-----------------+-----------------+
|  1 | George  |           92 |              95 |              88 |         91.6667 |
+----+---------+--------------+-----------------+-----------------+-----------------+
|  2 | Charlie |           88 |              82 |              85 |         85      |
+----+---------+--------------+-----------------+-----------------+-----------------+
|  3 | David   |           70 |              65 |              72 |         69      |
+----+---------+--------------+-----------------+-----------------+-----------------+

In [ ]:
# eval() function

# Designed for efficient column-wise operations on a DataFrame, it enables faster computations and simplifies chained operations.

In [13]:
# rolling() function

# Provides rolling window calculations, commonly used in time series data analysis, such as rolling averages, rolling standard deviations, etc.
# Create sample data with random prices
import numpy as np
df = pd.DataFrame({'price': np.random.randint(10, 100, size=10)})

# Calculate the rolling average with a window of 3
df['rolling_avg'] = df['price'].rolling(window=3).mean()

# Display the DataFrame
print(df)

   price  rolling_avg
0     90          NaN
1     43          NaN
2     93    75.333333
3     16    50.666667
4     53    54.000000
5     53    40.666667
6     75    60.333333
7     68    65.333333
8     68    70.333333
9     10    48.666667