In [1]:
import pandas as pd



# Create a simple sample dataset
df = pd.DataFrame({'Company': ['TechCorp', 'Speedster Inc'], 
                   'Employees': [['Alice', 'Bob', 'Charlie'], ['David', 'Emma']]})

# Use the explode function to convert the "Employees" column into multiple rows
df_explode = df.explode('Employees')

# Display the transformed DataFrame
print(df_explode)

         Company Employees
0       TechCorp     Alice
0       TechCorp       Bob
0       TechCorp   Charlie
1  Speedster Inc     David
1  Speedster Inc      Emma

In [3]:
## opposite of explode is implode but can be done by groupby and aggregate func
df_impolde = df_explode.groupby('Company', as_index=False).agg(lambda x: x.to_list())
print(df_impolde)

         Company              Employees
0  Speedster Inc          [David, Emma]
1       TechCorp  [Alice, Bob, Charlie]